* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Century Gothic, arial
}

.border-red {
    border-color: rgb(197, 10, 10) !important;
}

.btn-primary {
    background-color: rgb(197, 56, 56);
    border-color: rgb(197, 10, 10);
}

.btn-primary:hover,
.btn-primary:focus {
    background-color: rgb(175, 19, 19);
    border-color: rgb(179, 11, 11);
}

.btn-primary:focus {
    box-shadow: 0 0 0 .25rem rgb(179, 11, 11);
}

.btn-secondary {
    background-color: rgb(56, 117, 197);
    border-color: rgb(29, 82, 151);
}

.btn-secondary:hover,
.btn-secondary:focus {
    background-color: rgb(48, 100, 168);
    border-color: rgb(40, 88, 151);
}

.btn-secondary:focus {
    box-shadow: 0 0 0 .25rem  rgb(40, 88, 151);
}

#content {
    max-width: 1200px;
    margin: 1rem auto;
}